body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
#container{	
}
#calculator{
	background-color: #eaedef;
	margin: 0 auto;
	
	position: absolute;
			top:0;
			left:0;
			right: 0;
			display: grid;
			grid-gap: 20px;
			grid-template-rows: 1fr 2fr;
			height: 100%;
}
#result{
			display: flex;
			flex-flow: column;

			border-bottom: 0.1vw dotted;
}

#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 50px;
}
#keyboard{
	color: #181818;
	
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.operatorr{
	width:50px;
	height: 50px;
}
.operatorr, .operator, .number, .empty{
	
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-size: 3.2vmax;
	text-align: center;
	display: flex;
	justify-content: center;
	
}

.number, .empty{
	background-color: #eaedef;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: blue;
}